<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="left">
    <div class="qz-lift layui-hide-xs">
        <div>
            <i class="am-icon-quote-left"></i>
            <div class="qz-gonggao">
                <p>爱在凌迷花园</p>
                <p class="qz-name">--- 凌迷西子</p>
                <p class="last">Welcome come my blog</p>
            </div>
            <i class="am-icon-quote-right"></i>
        </div>
        <div>
            <i class="am-icon-quote-left"></i>
            <div class="qz-gonggao qz-xinxi">
                <p>爱在凌迷花园</p>
            </div>
            <i class="am-icon-quote-right"></i>
        </div>
    </div>
</div>

</body>
</html>